Advanced Data Science IBM/Fundamentals of Scalable Data/Assignment1.1.json.txt
[{"id":"37a15600.e6ba1a","type":"ibmiot in","z":"76abb8ce.e7b8f8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":120,"y":440,"wires":[["29f42ad2.d3d4f6","16f8f31b.9f37fd"]]},{"id":"29f42ad2.d3d4f6","type":"function","z":"76abb8ce.e7b8f8","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":310,"y":440,"wires":[["f93103ce.cfaf7"]]},{"id":"f93103ce.cfaf7","type":"switch","z":"76abb8ce.e7b8f8","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":470,"y":440,"wires":[["9fce9dd7.aa149"],["bfcb8c6e.3b80a"]]},{"id":"6292a565.4d359c","type":"debug","z":"76abb8ce.e7b8f8","name":"cpu status","active":true,"complete":"false","x":810,"y":440,"wires":[]},{"id":"16f8f31b.9f37fd","type":"debug","z":"76abb8ce.e7b8f8","name":"device data","active":true,"console":"false","complete":"true","x":330,"y":520,"wires":[]},{"id":"9fce9dd7.aa149","type":"template","z":"76abb8ce.e7b8f8","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":630,"y":420,"wires":[["6292a565.4d359c"]]},{"id":"bfcb8c6e.3b80a","type":"template","z":"76abb8ce.e7b8f8","name":"danger","template":"Temperature ({{payload}}) critical","x":640,"y":460,"wires":[["6292a565.4d359c"]]},{"id":"17b70270.4c50ee","type":"ibmiot out","z":"76abb8ce.e7b8f8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"LivingRoomThermo1","deviceType":"thermostat","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"registered","x":590,"y":160,"wires":[]},{"id":"43d4d1d8.0c43","type":"inject","z":"76abb8ce.e7b8f8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["a9408dfa.9da83"]]},{"id":"a9408dfa.9da83","type":"function","z":"76abb8ce.e7b8f8","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["17b70270.4c50ee","ff4c542b.b1ae68"]]},{"id":"ff4c542b.b1ae68","type":"debug","z":"76abb8ce.e7b8f8","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":580,"y":220,"wires":[]},{"id":"faec400a.252f2","type":"comment","z":"76abb8ce.e7b8f8","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":120,"y":80,"wires":[]},{"id":"f45930d3.07eb","type":"comment","z":"76abb8ce.e7b8f8","name":"1. Configure target","info":"","x":570,"y":120,"wires":[]},{"id":"e4ac51d4.4da08","type":"comment","z":"76abb8ce.e7b8f8","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":130,"y":200,"wires":[]},{"id":"3d25765c.6318ba","type":"comment","z":"76abb8ce.e7b8f8","name":"Temperature Monitor","info":"","x":130,"y":340,"wires":[]},{"id":"2b048de5.f088b2","type":"comment","z":"76abb8ce.e7b8f8","name":"Configure source","info":"","x":120,"y":400,"wires":[]}]